* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.navigation-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightcoral;
    padding: 0px 50px;
    margin-bottom:70px;
}

.logo{
    color:white;
}

.navigation-bar ul{
    overflow:hidden;
}


.navigation-bar a{
    display: flex;            /* Turns link into flex to center text vertically */
    align-items: center;      /* Centers text vertically */
    justify-content: center;  /* Centers text horizontally */            /* Stretches link to 100% height of the navbar */
    padding: 30px 10px;          /* Only add horizontal padding now */
    text-decoration: none;
    color: white;
    transition: background-color 0.3s ease;
    border-bottom:4px solid transparent;
}


.navigation-bar a:hover{
    background-color: coral;
    border-bottom: 4px solid lightgray;
}

.navigation-bar a.active{
    background-color: coral;
    border-bottom:4px solid lightgray;
}

.links{
    display:flex;
    justify-content: space-around;
    list-style: none;
    margin:0;
    padding:0;
    height:100%;
}

.links li{
    height:100%;
}

.Introduction{
    display:flex;
    justify-content: space-around;           
    align-items: center;        
    position:relative;
    gap:100px;
    overflow:hidden;
    border-radius:8px;
    padding:0 50px;
}

.Introduction h1{
    margin-bottom:10px;
}

.Introduction p{
    margin-bottom:50px;
}

.Slider-Wrapper{
    width:100%;
    height:100%;
    position: relative;
    margin:0 auto;
}

@keyframes slide {
  /* Image 1 */
  0%, 20% {
    transform: translateX(0);  
    animation-timing-function: ease-in-out;
  }
  /* Image 2 */
  25%, 45% {
    transform: translateX(-100%); 
    animation-timing-function: ease-in-out;
  }
  /* Image 3 */
  50%, 70% {
    transform: translateX(-200%); 
    animation-timing-function: ease-in-out;
  }
  /* Duplicate Image 1 (Keeps it from jumping) */
  75%, 98% {
    transform: translateX(-300%);
    animation-timing-function: step-end;
  }
  /* Instant Invisible Reset */
  100% {
    transform: translateX(0);
  }
}


.Image-Container{
    flex:1;
    width:100%;
    max-width:350px;
    max-height:450px;
    position:relative;
    overflow:hidden;
    border-radius:5px;
}

.slider{
    display:flex;
    aspect-ratio: 9/16;
    width : 100%;
    overflow-x:hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0% 0% 0% 0.25);

}

.slider img{
    flex:1 0 100%;
    width:100%;
    height:75%;
    scroll-snap-align: start;
    object-fit:cover;   
    object-position: center 10%;
    animation: slide 15s infinite linear;
}

.icons{
    font-size:25px;
}

.fa-linkedin{
    color:darkblue;
}

.fa-linkedin:hover{
    color:lightcoral;
}

.fa-github{
    color:purple;
}

.fa-github:hover{
    color:lightcoral;
}

.fa-envelope{
    color:darkgrey;
}

.fa-envelope:hover{
    color:lightcoral;
}


.Work-Experience-1{
    max-width:1300px;
    margin: 0 auto;          
    padding: 30px 30px;         
    box-sizing: border-box;
    border-color: black;
    background-color:white;   
    border: 2px solid lightgray;         
    border-radius: 8px;                 
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    margin-top:20px;
}

.Work-Experience-1.p{
    margin-top: auto;
}

.Work-Experience-2{
    max-width:1300px;
    margin: 0 auto;          
    padding: 30px 30px;         
    box-sizing: border-box;
    border-color: black;
    background-color:white;   
    border: 2px solid lightgray;         
    border-radius: 8px;                 
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    margin-top: 20px;
}

.Work-Experience-2.p{
    margin-top:100px;
}

.header{
    display:flex;
    justify-content: space-between;
    margin-bottom:20px;
}

.duration{
    font-weight: bold;
    opacity: 60%;
    text-align: center;
}